@use "./base.scss";

pre>code.mermaid{
    width: 2048px;
    overflow-x: auto;
}

.callout {
    &[data-callout="book"] {
        --color: #edb88b;
        --callout-icon: lucide-book;
    }
}

.callout {
    &[data-callout="letter"] {
    --color: #95b8d1;
    --callout-icon: lucide-mail;
    }
}

.callout {
    &[data-callout="not-known"] {
    --color: rgb(166, 52, 70);
    --callout-icon: lucide-ban;
    }
}